<!DOCTYPE html>
<html>
<head>
  <title>Exportable</title>
  <%= stylesheet_link_tag    "exportable/application", media: "all" %>
  <%= javascript_include_tag "exportable/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
